!jest.config.js
node_modules
package-lock.json

# CDK asset staging directory
cdk/.cdk.staging
cdk/cdk.out

resources/.env
**/dist

**/.env
.history

.DS_Store

.idea/
.gradle/
.git/
/*.iml
build/
out/
gradle/
gradlew
gradlew.bat
.DS_Store
bin/
!cdk/bin
coverage/
